Repository hyperledger-labs/orion-server, pull requests merged in 2021-11, with the labels that each got.

#211 Release txs replicator
  internal/bcdb/transaction_processor.go
  internal/blockcreator/blockcreator_test.go
  internal/comm/httptransport.go
  internal/replication/blockreplicator.go
  internal/replication/blockreplicator_3node_test.go
  internal/replication/env_test.go
  internal/replication/mocks/pending_txs.go
Labels: replication

#217 Block numbering in replicator
  internal/blockcreator/blockcreator.go
  internal/blockcreator/blockcreator_test.go
  internal/replication/blockreplicator.go
  internal/replication/blockreplicator_3node_test.go
  internal/replication/blockreplicator_test.go
Labels: replication

#236 build doc on pull request but don't deploy
  .github/workflows/deploy-docusaurus.yml
Labels: documentation

#222 Limit the number of in flight blocks
  internal/replication/blockreplicator.go
  internal/replication/blockreplicator_3node_test.go
  internal/replication/env_test.go
Labels: replication

#244 Solve replicator close deadlock
  internal/replication/blockreplicator.go
Labels: bug

#240 Unit test flake
  internal/comm/catchup_client_test.go
Labels: bug, testing

#230 Integration test: basic cluster
  go.mod
  internal/bcdb/transaction_processor.go
  internal/httputils/utils.go
  pkg/server/mock/rest_client.go
  pkg/server/server.go
  pkg/server/server_test.go
  test/cluster/basic_test.go
  test/setup/cluster_setup.go
  test/setup/cluster_setup_test.go
  test/setup/config_writer.go
  test/setup/config_writer_test.go
  test/setup/server_setup.go
Labels: replication, testing

#257 Calculate max-raft-id from members when committing
  internal/bcdb/transaction_processor.go
  internal/blockprocessor/committer.go
  internal/blockprocessor/committer_test.go
  internal/blockprocessor/config_tx_validator.go
  internal/blockprocessor/config_tx_validator_test.go
  pkg/types/configuration.pb.go
  protos/configuration.proto
Labels: replication

#249 TLS support for comm
  config/ca_config.go
  config/ca_config_test.go
  config/config.go
  config/config_test.go
  config/shared_config.go
  config/testdata/config.yml
  deployment/config-docker/config.yml
  internal/bcdb/db.go
  internal/bcdb/transaction_processor.go
  internal/comm/catchup_client.go
  internal/comm/catchup_client_test.go
  internal/comm/httptransport.go
  internal/comm/httptransport_catchup_test.go
  internal/comm/httptransport_test.go
  internal/comm/log_adapter.go
  internal/replication/blockreplicator_test.go
  internal/replication/env_test.go
  pkg/certificateauthority/ca_chain.go
  pkg/certificateauthority/ca_chain_test.go
Labels: replication

#272 ConsensusConfig reconfig rules
  internal/blockprocessor/config_tx_validator.go
  internal/blockprocessor/config_tx_validator_test.go
  internal/replication/utils.go
  internal/replication/utils_test.go
Labels: replication
