Repository hyperledger-labs/orion-server, pull requests merged in 2021-10, with the labels that each got.

#143 Execute json query
  internal/queryexecutor/execute_conditions.go
  internal/queryexecutor/execute_conditions_test.go
  internal/queryexecutor/executor.go
  internal/queryexecutor/executor_test.go
Labels: query support

#161 Catchup at block replicator
  internal/comm/catchup_client.go
  internal/comm/catchup_client_test.go
  internal/comm/httptransport.go
  internal/httputils/utils.go
  internal/replication/blockreplicator.go
  internal/replication/blockreplicator_3node_test.go
  internal/replication/env_test.go
Labels: replication

#176 change types.Type to types.IndexAtttributeType
  internal/blockprocessor/committer_test.go
  internal/blockprocessor/dbadmin_tx_validator.go
  internal/blockprocessor/dbadmin_tx_validator_test.go
  internal/queryexecutor/execute_conditions_test.go
  internal/queryexecutor/executor.go
  internal/queryexecutor/executor_test.go
  internal/queryexecutor/range_query_planner.go
  internal/queryexecutor/range_query_planner_test.go
  internal/stateindex/index_entries.go
  internal/stateindex/index_entries_test.go
  pkg/types/block_and_transaction.pb.go
  protos/block_and_transaction.proto
Labels: query support

#177 start index position enum (Beginning, Existing, Ending) from 1 instead of 0
  internal/blockprocessor/committer_test.go
  internal/stateindex/index_entries.go
  internal/stateindex/index_entries_test.go
Labels: query support

#163 REST redirect TX to leader
  internal/bcdb/transaction_processor.go
  internal/comm/catchup_client_test.go
  internal/errors/errors.go
  internal/httphandler/config_request_handler.go
  internal/httphandler/config_request_handler_test.go
  internal/httphandler/data_request_handler.go
  internal/httphandler/data_request_handler_test.go
  internal/httphandler/db_request_handler.go
  internal/httphandler/db_request_handler_test.go
  internal/httphandler/tx_handler.go
  internal/httphandler/users_request_handler.go
  internal/httphandler/users_request_handler_test.go
  internal/httputils/utils.go
  internal/httputils/utils_test.go
  internal/queue/promise_test.go
  internal/replication/blockreplicator.go
  internal/replication/blockreplicator_3node_test.go
Labels: replication

#197 test flake in TestBlockReplicator_Submit
  internal/replication/blockreplicator_test.go
Labels: bug, replication

#202 Release transactions with error from PendingTxs
  internal/bcdb/transaction_processor.go
  internal/blockcreator/blockcreator.go
  internal/blockcreator/blockcreator_test.go
  internal/queue/pending_txs.go
  internal/queue/pending_txs_test.go
  internal/replication/blockreplicator.go
  internal/replication/env_test.go
Labels: replication

#206 Release txs in block-creator
  internal/blockcreator/blockcreator.go
  internal/blockcreator/blockcreator_test.go
  internal/httputils/blocks.go
  internal/httputils/blocks_test.go
Labels: replication
